In [15]:
import pandas as pd

In [16]:
# Load the dataset
data_path = r"C:\Users\ASUS\OneDrive\Desktop\AIML_LAB\candy-data.csv"
df=pd.read_csv(data_path)

In [17]:
# Number of rows and columns
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

Number of rows: 85
Number of columns: 13

In [18]:
df.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [19]:
# First five rows of the dataset
print("\nFirst five rows:")
print(df.head(5))

First five rows:
  competitorname  chocolate  fruity  caramel  peanutyalmondy  nougat  \
0      100 Grand          1       0        1               0       0
1   3 Musketeers          1       0        0               0       1
2       One dime          0       0        0               0       0
3    One quarter          0       0        0               0       0
4      Air Heads          0       1        0               0       0

   crispedricewafer  hard  bar  pluribus  sugarpercent  pricepercent  \
0                 1     0    1         0         0.732         0.860
1                 0     0    1         0         0.604         0.511
2                 0     0    0         0         0.011         0.116
3                 0     0    0         0         0.011         0.511
4                 0     0    0         0         0.906         0.511

   winpercent
0   66.971725
1   67.602936
2   32.261086
3   46.116505
4   52.341465

In [20]:
# Size of the dataset (total number of elements)
print(f"\nSize of dataset: {df.size}")

Size of dataset: 1105

In [21]:
# Number of missing values in each column
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
competitorname      0
chocolate           0
fruity              0
caramel             0
peanutyalmondy      0
nougat              0
crispedricewafer    0
hard                0
bar                 0
pluribus            0
sugarpercent        0
pricepercent        0
winpercent          0
dtype: int64

In [22]:
# Sum of numerical columns
print("\nSum of numerical columns:")
print(df.select_dtypes(include='number').sum())

Sum of numerical columns:
chocolate             37.000000
fruity                38.000000
caramel               14.000000
peanutyalmondy        14.000000
nougat                 7.000000
crispedricewafer       7.000000
hard                  15.000000
bar                   21.000000
pluribus              44.000000
sugarpercent          40.684999
pricepercent          39.855000
winpercent          4276.924924
dtype: float64

In [23]:
# Average of numerical columns
print("\nAverage of numerical columns:")
print(df.select_dtypes(include='number').mean())

Average of numerical columns:
chocolate            0.435294
fruity               0.447059
caramel              0.164706
peanutyalmondy       0.164706
nougat               0.082353
crispedricewafer     0.082353
hard                 0.176471
bar                  0.247059
pluribus             0.517647
sugarpercent         0.478647
pricepercent         0.468882
winpercent          50.316764
dtype: float64

In [24]:
# Minimum values in numerical columns
print("\nMinimum values in numerical columns:")
print(df.select_dtypes(include='number').min())

Minimum values in numerical columns:
chocolate            0.000000
fruity               0.000000
caramel              0.000000
peanutyalmondy       0.000000
nougat               0.000000
crispedricewafer     0.000000
hard                 0.000000
bar                  0.000000
pluribus             0.000000
sugarpercent         0.011000
pricepercent         0.011000
winpercent          22.445341
dtype: float64

In [25]:
# Maximum values in numerical columns
print("\nMaximum values in numerical columns:")
print(df.select_dtypes(include='number').max())

Maximum values in numerical columns:
chocolate            1.00000
fruity               1.00000
caramel              1.00000
peanutyalmondy       1.00000
nougat               1.00000
crispedricewafer     1.00000
hard                 1.00000
bar                  1.00000
pluribus             1.00000
sugarpercent         0.98800
pricepercent         0.97600
winpercent          84.18029
dtype: float64

In [26]:
# Export the modified dataset
df.to_csv('output_file.csv', index=False)